/* 
Code below was created by TGRush and is used under the GPL-3 License
https://codeberg.org/TGRush/beeper-tweaks/src/branch/main/header-online.css
Modified by contributors to https://github.com/ngencokamin/beeper-oneline.
*/

.bp_LeftPanel {
    display: grid;
    grid-template:
    "header search"
    "chats chats"
    "forward forward"
    "fwd-btn fwd-btn";

    grid-template-columns: 30% 70%;
    grid-template-rows: 50px auto min-content min-content;
    align-items: center;
}

/* Help, Settings, DND Header */
.bp_LeftPanel > *:nth-child(1) {
    width: fit-content;
    height: min-content;
    grid-area: header;
    align-self: start;
}

/* Searchbar & Pen icon */
.bp_LeftPanel > *:nth-child(2) {
    width: fit-content;
    height: min-content;
    grid-area: search;
}

/* Chats (favorites and inbox) */
.bp_LeftPanel > *:nth-child(3) {
    grid-area: chats;
}

/* * */

/* Set icon to stay in one place */
.bp_TitleBar ~ .mx_MatrixChat > div:nth-child(1) > div:nth-child(1) {
    position: absolute;
    top: 8px;
    left: 12px;
    z-index: 2;
}

/* Align Chat app sidebar */
.bp_TitleBar ~ .mx_MatrixChat > div:nth-child(1) > div:nth-child(2) {
    margin-top: 8px;
}

/* Remove padding if sidebar is open */
div.noselect:first-of-type:not([class$="noselect"]) ~ .bp_LeftPanel > div:nth-child(1) {
    padding: 0;
    transition: all 0.1s linear;
}

/* Add margin if sidebar is closed */
div.noselect:first-of-type[class$="noselect"] ~ .bp_LeftPanel > div:nth-child(1) {
    margin-left: 33px;
    transition: all .1s linear;
}

/* Set min width for side panel */
/* Prevents searchbar getting smushed */
.bp_LeftPanel {
    min-width: 350px;
    container-type: inline-size;
}

/* Searchbar & Pen icon */
.bp_LeftPanel > *:nth-child(2) {
    width: auto;
    margin-left: -12cqw;
    transition: all .2s linear;
}

/* Resize by Container */
@container (min-width: 375px) {
    .bp_LeftPanel > *:nth-child(2) {
        margin-left: -14cqw;
    }
}

@container (min-width: 400px) {
    .bp_LeftPanel > *:nth-child(2) {
        margin-left: -15cqw;
    }
}

@container (min-width: 450px) {
    .bp_LeftPanel > *:nth-child(2) {
        margin-left: -17cqw;
    }
}

@container (min-width: 500px) {
    .bp_LeftPanel > *:nth-child(2) {
        margin-left: -20cqw;
    }
}

/* Code below is from https://github.com/beeper/themes/blob/main/themes/bubbly.css used under the Apache2.0 license. */

html {
    --theme-my-bubble-color: #58347c;
    --theme-accent-color: #a675d8;
    --theme-their-bubble-color: #efefef;
    --theme-chat-background-color: #FFFFFF;
    --theme-chat-background-image: url("https://imjosh.in/images/beeper/bubbly-bg-light.png");

    --theme-borderwidth: 0;
    --theme-borderradius: 13px;
    --theme-bubble-padding-v: 8px;
    --theme-bubble-padding-h: 12px;

    --chatview__backgroundcolor: var(--theme-chat-background-color);
    --chatview__backgroundimage: var(--theme-chat-background-image);

    --chatview__fontsize: 2.2rem;
    --chatview__lineheight: var(--chatview__fontsize);
    --chatview__paddingleft: var(--size-spacing-400);
    --chatview__paddingright: var(--size-spacing-400);

    --chatview__composer__borderradius: var(--theme-borderradius);
    --chatview__composer__backgroundcolor: #efefef;

    --chatview__message_group__margintop: 12px;

    --chatview__message_tail__opacity: 1;
    --chatview__message_tail__color: var(--theme-their-bubble-color);
    --chatview__message__backgroundcolor: var(--theme-their-bubble-color);
    --chatview__message__fontcolor: #141414;

    --chatview__message__paddingleft: var(--theme-bubble-padding-h);
    --chatview__message__paddingright: var(--theme-bubble-padding-h);
    --chatview__message__paddingtop: var(--theme-bubble-padding-v);
    --chatview__message__paddingbottom: var(--theme-bubble-padding-v);
    --chatview__message__marginleft: 4px;
    --chatview__message__marginright: 4px;
    --chatview__message__margintop: 4px;

    --chatview__message__borderradius: var(--theme-borderradius);
    --chatview__message_sharp__borderradius: var(--theme-borderradius);

    --chatview__message_sender_name__alpha: 1;
    --chatview__message_sender_name__lightness: 35%;

    --chatview__message_self__backgroundcolor: var(--theme-my-bubble-color);
    --chatview__readmarker__fontcolor: var(--theme-accent-color);
}

html[theme="dark"] {
    --theme-their-bubble-color: #232326;
    --theme-chat-background-color: #0f0f0f;
    --theme-chat-background-image: url("https://imjosh.in/images/beeper/bubbly-bg-dark.png");

    --chatview__composer__backgroundcolor: #232326;
    --chatview__message__fontcolor: #F6F6F6;
    --chatview__message_sender_name__lightness: 65%;
}

/* Code below is from https://github.com/beeper/themes/blob/main/legacy/utility/minimal-titlebar-right.css 
with modifications to make buttons fill the header, used under the Apache2.0 license */

:root {
    --app-control-wide: 138px;
    --app-control-right: 0px;
    --app-control-top: 0px;
}

.AppControls {
    position: absolute;
    top: var(--app-control-top);
    right: var(--app-control-right);
    height: 55px !important;
    z-index: 9999;
    max-height: fit-content !important;
}

.AppControls-button { 
    height: 55px; 
    width: 55px;
}

.mx_RoomHeader_rightActions {
    position: relative;
    right: calc(var(--app-control-wide) + 22px *2);
}

.mx_RoomHeader_name {
    max-width: 345px;
}

.AppControls-button svg {
    width: 55px;
    height: 55px;
}

.bp_invisibleDraggableHeader {
    display: none;
}

/* Android-esque Theme for Beeper. */
/* Copyright 2024 @ Simon Müller, simeonlps@proton.me */
/* You should have gotten a copy of the GPLv3 with this stylesheet */
/* If not, visit https://www.gnu.org/licenses/gpl-3.0.txt */

html {
    /* Colors! */
    --chatview__message_self__backgroundcolor: #1550f9!important;

    /* Layout and other style changes*/
    --chatview__message__borderradius: 2rem!important;
    --chatview__message_sharp__borderradius: 2rem!important;
    --chatview__message__paddingleft: 12px;
    --chatview__message__paddingtop: 8px;
    --chatview__message__paddingright: 10px;
    --chatview__message__paddingbottom: 8px;
    --chatview__message__margintop: 2px;
    --chatview__message_tail__opacity: 0;
    --chatview__composer__borderradius: 2em;
}

/* hacky workarounds :melt: */
html[theme = "dark"] .bp_LeftPanel,
html[theme = "dark"] .mx_MatrixChat > div.noselect,
html[theme="dark"] .mx_HomePage {
    background-color: black!important;
}

html[theme = "dark"] {
    --chatview__backgroundcolor: black!important;
    --space-bar-bg: #0e0e10!important;
}
    
/* now for my creature comforts
Code below is licensed under GPLv3. Grab a copy at https://www.gnu.org/licenses/gpl-3.0.txt
Copyright @driedpampas 2023-2024
*/

/* Fix Forwarding menu*/

.bp_Header + div > p {
    display: none !important;
}

.bp_Header:has(+ div p) {
    margin-left: 6.66px !important;
}

.bp_LeftPanel > *:nth-child(4){
    display: flex;
    grid-area: forward;
    min-height: fit-content;
    min-width: auto;
    grid-column: 1 / 3;
    grid-row: 3;
}

.bp_LeftPanel > *:nth-child(5) {
    grid-area: fwd-btn;
    min-height: fit-content;
    min-width: auto;
    grid-column: 1 / 3;
    grid-row: 4;
}

/* why is the panel to the side */

.bp_LeftPanel:has(div:nth-child(4) > * > .mx_EventTile_messageOut) > *:nth-child(2) ~ .bp_LeftPanel_contentWrapper--search {
    --offset: -100% !important;
}

.bp_LeftPanel:not(:has(div:nth-child(4) > * > .mx_EventTile_messageOut)) > *:nth-child(2) ~ .bp_LeftPanel_contentWrapper--search {
    --offset: -100% !important;
}

.bp_LeftPanel:not(:has(*:nth-child(2) ~ .bp_LeftPanel_contentWrapper-search)) > *:nth-child(2) ~ .bp_LeftPanel_contentWrapper {
    --offset: -10% !important;
}

/* Remove the Help button in header*/
.bp_LeftPanel > *:nth-child(1) > *:nth-child(1) > *:nth-child(3), .bp_LeftPanel > *:nth-child(1) > *:nth-child(1) > *:nth-child(4) {
    display: none;
}

.bp_LeftPanel > *:nth-child(1) {
    width: 48px;
    height: 31px;
    margin-left: 8px;
}

/* Fix stack-looking button overlapping */
.bp_TitleBar ~ .mx_MatrixChat > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    padding: 5px;
    width: 30px;
}

.bp_TitleBar ~ .mx_MatrixChat > div:nth-child(1) > div:nth-child(1) {
    width:35px;
}

/* Appearance tab fixes*/
/* Make Custom CSS box bigger*/
.mx_AppearanceUserSettingsTab .mx_Field {
    width: 650px;
    height: 350px;
}

/* Minimize spacing */
.mx_AppearanceUserSettingsTab .mx_SettingsTab_SubHeading {
    margin-bottom: 0px;
}

.mx_AppearanceUserSettingsTab .mx_SettingsTab_subheading {
    margin-top: 10px;
}

.mx_AppearanceUserSettingsTab .mx_SettingsFlag {
    margin-bottom: 4px;
}

.mx_AppearanceUserSettingsTab > div:nth-child(7) {
    margin-top: 0px;
}

/* side-by-side theme selectors */
.mx_ThemeSelectors {
    display:flex;
    margin-top: 10px;
    width: 200px;
    height: 30px;
}

.mx_ThemeSelectors > label {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.mx_ThemeSelectors > label > div:nth-child(2) {
    height: 16px;
}

.mx_TabbedView_tabPanel > div > div {
    padding-bottom: 0px;
}

/* remove invite to beeper button */
.bp_MainPanel > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div.mx_RoomHeader_wrapper > div.mx_RoomHeader_rightActions > span > span.mx_RoomHeader_rightActions_static > div:nth-child(1) {
    display: none;
}

/* chat networks */
#chatNetworksContent > div > div:nth-child(3) > div > div:nth-child(2) {
    padding-bottom: 0px !important;
}

#chatNetworksContent > div > div:nth-child(3) {
    margin-bottom: 0px !important;
}

.rooms_scroll-container > .all > div {
    padding-right: 10px !important;
}

.favourites__tiles {
    padding-right: 0px;
}